@import (reference) '../../less/variables.less';

.navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;

  user-select: none;

  &__item {
    display: inline-block;

    transition: @transition;

    color: @color-text;

    &:not(:last-child) {
      padding-right: 16px;
    }
  }

  &__item:not(:last-child) {
    @media screen and (min-width: @hamburger) {
      margin-right: 40px;
    }
  }

  &__item:hover {
    @media screen and (min-width: @hamburger) {
      color: @color-brand;
    }
  }
}
