@import (reference) '../../less/variables.less';

.navigation {
  display: flex;

  list-style: none;

  user-select: none;

  justify-content: space-between;
  flex-wrap: wrap;

  &__item {
    display: inline-block;

    transition: @transition;

    color: @color-text;

    font-size: 14px;

    @media screen and (min-width: @tablet) {
      font-size: 14px;
    }

    &:not(:last-child) {
      padding-right: 16px;
    }
  }

  &__item:not(:last-child) {
    @media screen and (min-width: @hamburger) {
      margin-right: 40px;
    }
  }

  &__item:hover {
    @media screen and (min-width: @hamburger) {
      color: @color-brand;
    }
  }
}
