@import (reference) "../../less/variables.less";

.button {
  display: inline-block;
  overflow: hidden;

  box-sizing: border-box;
  padding: 0 24px;

  cursor: pointer;
  transition: @transition;
  text-align: center;

  color: @color-text-second;
  border: none;
  border-radius: 32px;

  font-size: 16px;
  font-weight: bold;
  line-height: 40px;

  @media screen and (min-width: @hamburger) {
    font-size: 18px;
  }

  &_brand {
    background-color: @color-brand;

    &:hover {
      background-color: rgba(@color-brand, 0.8);
    }
  }

  &_second {
    color: @color-second;
    background-color: @color-first;

    &:hover {
      background-color: rgba(@color-first, 0.9);
    }
  }

  &_size {
    padding: 0 24px;

    border-radius: 100px;

    @media screen and (min-width: @hamburger) {
      padding: 0 64px;
    }

    &_l {
      line-height: 64px;

      @media screen and (min-width: @hamburger) {
        min-width: 224px;

        border-radius: 100px;

        line-height: 88px;
      }
    }

    &_xl {
      line-height: 54px;

      @media screen and (min-width: @hamburger) {
        line-height: 70px;
      }
    }
  }

  &_wrap {
    display: flex;

    justify-content: center;
    align-items: center;
  }

  &_absoluted {
    @media screen and (min-width: @hamburger) {
      position: absolute;
      top: 50%;
      right: 0;

      transform: translateY(-50%);
    }
  }

  &_w_100 {
    width: 100%;
  }
}
