@import (reference) '../../less/variables.less';

.body {
  &__indent {
    padding: 80px 0;

    @media screen and (max-width: @tablet) {
      padding: 40px 0;
    }
  }

  &__only-top {
    padding: 80px 0 0;

    @media screen and (max-width: @tablet) {
      padding: 40px 0 0;
    }
  }

  &__indent_bg {
    background-color: rgba(@color-brand, 0.05);
  }
}
