@import (reference) '../../less/variables.less';

.title {
  text-align: center;

  color: @color-text;

  &_one {
    font-size: 32px;
    line-height: 40px;

    @media screen and (min-width: @desktop) {
      font-size: 74px;
      line-height: 80px;
    }
  }

  &_two {
    font-size: 28px;
    line-height: 32px;

    @media screen and (min-width: @desktop) {
      font-size: 74px;
      line-height: 80px;
    }
  }
}
